@model WebSite.Areas.Admin.ViewModels.AddTrackViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add track to album";
}

<h2>AddTrack</h2>

@using (Html.BeginForm("Addtrack", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form">
        <div class="form-group">
            @Html.LabelFor(m => m.TrackName)
            @Html.TextBoxFor(m => m.TrackName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TrackName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Duration)
            @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Duration)
        </div>

        <div class="form-group">
            The file :
            <input type="file" name="file" />
        </div>
    </div>
}
