@using WebSite.Models
@using System.Collections.ObjectModel

@model AlbumViewModel

@{
    Track t1 = new Track();
    t1.Name = "weneverwerever";
    t1.Duration = new TimeSpan();
    
    Track t2 = new Track();
    t2.Name = "wakawaka";
    t2.Duration = new TimeSpan();

    AlbumViewModel tModel = new AlbumViewModel();
    tModel.Title = "lol duno";
    tModel.Tracks = new Collection<Track>();
    tModel.Tracks.Add(t1);
    tModel.Tracks.Add(t2);
    
    ViewBag.Title = tModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <meta name="description" content="@String.Join( ", ", tModel.Tracks.Select( x => x.Name ).ToArray() )" />
}

<div class="container">
    <h2>@tModel.Title</h2>
    <span class="pull-right"><a href="/music/albums/catalog" class="btn btn-danger">Back</a></span>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Durtion</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var track in tModel.Tracks)
            {
                <tr>
                    <td>@track.TrackId</td>
                    <td>@track.Name</td>
                    <td>@track.Duration</td>
                </tr>
            }
        </tbody>
    </table>
</div>
  


